@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');

html > body {
  font-family: 'Toss Product Sans';
}

::-webkit-scrollbar {
  display: none;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.con {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding: 250px 0;
}

.con-inner {
    width: 92%;
    height: 100%;
    margin: 0 auto;
}

/* -------------------- header - start -------------------- */
header {
    width: 100vw;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    .con {
        padding: 0;
    }

    .con-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        min-width: 24px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        animation: 0.5s ease-in-out 0s 1 normal forwards running opacity0to1;
        
        a {
            width: 64px;
        }
    }

    .mb {
        display: none;
    }

    .menu-box {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 2px;
    }

    .menu-item {
        width: 100%;
        height: 100%;
        padding: 0 8px;
        color: #4e5968;
        display: flex;
        align-items: center;
    
        a {
            padding: 12px 10px;
            font-size: 15px;
            line-height: 20px;
            color: currentColor;
            border-radius: 8px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            
            &:hover {
                background-color: rgba(2,32,71,0.05);
                color: #0056b3;
            }
        }
    }
    
    .menu-lang {
        height: 100%;
        display: flex;
        align-items: center;

        span {
            color: #d1d6db;
        }
    }

    .kor {
        margin-left: 44px;
        color: #333d4b !important;
    }

    .eng {
        color: #b0b8c1 !important;
    }
}
/* -------------------- header - end -------------------- */



/* -------------------- section - start -------------------- */
section {
    width: 100vw;
    overflow-x: hidden;
}

.sec-1 {
    position: relative;

    .con {
        padding: 250px 0 165px 0;
    }

    .sec-1__part-1 {
        position: relative;
    }

    .banner-img {
        height: 100vh;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .gradient {
        width: 100%;
        height: 500px;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, white 0%, white 59px, rgba(255, 255, 255, 0) 100%);
    }

    .part-1__content-wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        animation: 0.5s ease-in-out 1s 1 normal forwards running opacity0to1;
    }

    @keyframes opacity0to1 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .content__text {
        margin-top: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            width: 100%;
            margin-bottom: 50px;
            font-size: 66px;
            font-weight: 700;
            line-height: 1.4;
            text-align: center;
            color: #000;
        }
    }

    .download-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            background-color: rgba(0, 12, 30, 0.8);
            color: #fff;
            margin-right: 4px;
            font-size: 17px;
            font-weight: 600;
            padding: 11px 22px;
            border-radius: 7px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            transition: background-color .2s ease;

            &:hover {
                background-color: rgb(78, 89, 104);
            }

            img {
                width: 24px;
                height: 24px;
                aspect-ratio: 24/24;
                margin-right: 6px;
            }
        }
    }

    .content__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
        scale: .5;
        margin-bottom: 40px;
        animation: 3.5s ease-in-out 0s infinite normal forwards running contentBtnUpDown;

        div {
            width: 100%;
            height: 100%;
        }
    }

    @keyframes contentBtnUpDown {
        0% {
            opacity: 0;
            scale: .5;
            margin-bottom: 40px;
        }

        25% {
            scale: 1;
            opacity: 1;
            margin-bottom: 30px;
        }

        50% {
            scale: 1;
            opacity: 1;
            margin-bottom: 40px;
        }

        75% {
            scale: 1;
            opacity: 1;
            margin-bottom: 30px;
        }

        100% {
            scale: 1;
            opacity: 0;
            margin-bottom: 40px;
        }
    }

    .sec-1__part-2 {
        width: 100%;
        position: relative;
        padding: 200px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f9fafb;

        p {
            color: #191f28;
            font-size: 32px;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            margin-bottom: 50px;
        }
    }
}
/* -------------------- sec-1 - end -------------------- */



.title-box {
    h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.3;
        color: #3182f6;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.4;
        color: #191f28;
    }

    animation: 0.5s ease-in-out 0s 1 normal forwards running slideUp;
}

.desc {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    position: absolute;
    opacity: 0;
    animation: 0.5s ease-in-out 1.5s 1 normal forwards running slideUp;
}

.phone {
    width: 600px;
    height: 936px;
    position: absolute;
    opacity: 0;
    animation: 0.5s ease-in-out 0.5s 1 normal forwards running slideUp;
    overflow: hidden;

    .screen {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 57%;
        height: auto;
        transform: translate3d(-50%, -50%, 0);
        border-radius: 22px;
    }
    
    .shadow {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.p-right {
    animation: 0.5s ease-in-out 0.5s 1 normal forwards running slideUp;
}

.p-left {
    animation: 0.5s ease-in-out 1s 1 normal forwards running slideUp;
}

/* -------------------- sec-2 - start -------------------- */
.sec-2 {
    .con-inner {
        position: relative;
        height: 1272px;
    }
       
    .p-right {
        top: 0px;
        right: -104px;
    }

    .p-left {
        bottom: 0;
        left: -104px;
    }

    .desc {
        right: 30px;
        bottom: 166px;
    }
}
/* -------------------- sec-2 - end -------------------- */



/* -------------------- sec-3 - start -------------------- */
.sec-3 {
    position: relative;
    background-color: #f9fafb;

    .title-box {
        h2 {
            margin-bottom: 80px;
        }
    }

    .send {
        width: calc(100% + 30px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        animation: 0.5s ease-in-out 0.5s 1 normal forwards running slideUp;
    }
    
    .free-send, .accounts {
        margin: 0 0 150px;
    }
    
    img {
        width: 100%;
        height: auto;
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);
        opacity: 0;
        animation: 0.5s ease-in-out 1s 1 normal forwards running slideUp;
    }

    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 38px;
        width: 556px;
        height: 100%;
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);

        p:first-child {
            white-space: nowrap;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.4;
            color: rgb(49, 130, 246);
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            span {
                height: 24px;
                width: 24px;
                min-width: 24px;
                margin-right: 4px;
            }
        }

        p:nth-child(2) {
            margin-bottom: 20px;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.4;
            color: rgb(51, 61, 75);
        }

        p:last-child {
            font-size: 22px;
            font-weight: 600;
            line-height: 1.5;
            color: rgb(107, 118, 132);
        }
    }
}
/* -------------------- sec-3 - end -------------------- */



/* -------------------- sec-4 - start -------------------- */
.sec-4 {
    .con-inner {
        position: relative;
    }

    .title-box {
        margin-bottom: 210px;
    }

    .phone-box {
        position: absolute;
        top: 0;
        right: -60px;

        .phone {
            position: relative;
            width: 600px;
            height: 936px;
            
            img {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }

    span {
        display: flex;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.5;
        color: rgb(51, 61, 75);
        opacity: 0;
    }

    .top {
        animation: 0.5s ease-in-out 1.5s 1 normal forwards running slideUp;
    }

    .mid {
        animation: 0.5s ease-in-out 2s 1 normal forwards running slideUp;
    }

    .bottom {
        margin-bottom: 30px;
        animation: 0.5s ease-in-out 2.5s 1 normal forwards running slideUp;
    }

    .gray {
        color: #8b95a1;
        margin-left: 10px;
    }

    .light-gray {
        color: #d1d6db;
        margin-left: 10px;
    }

    .desc {
        animation: 0.5s ease-in-out 1s 1 normal forwards running slideUp;
    }
}
/* -------------------- sec-4 - end -------------------- */



/* -------------------- sec-5 - start -------------------- */
.sec-5 {
    background-color: #f9fafb;

    h2 {
        margin-bottom: 80px;
    }

    .credit-box {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 30px);
        margin: 0px -30px -30px 0px;

        .credit {
            flex-basis: calc(50% - 30px);
            max-width: calc(50% - 30px);
            margin: 0 30px 30px 0;
            height: 400px;

            img {
                width: 120px;
                margin-bottom: 30px;
                opacity: 0;
                animation: 1s ease-in-out 1s 1 normal forwards running slideUp;
            }

            p {
                font-size: 28px;
                font-weight: 700;
                line-height: 1.5;
                color: rgb(51, 61, 75);
                margin-bottom: 10px;
                opacity: 0;
                animation: 1s ease-in-out 0.5s 1 normal forwards running slideUp;
            }

            p:last-child {
                font-size: 22px;
                font-weight: 600;
                line-height: 1.5;
                color: rgb(107, 118, 132);
            }
        }
    }
}
/* -------------------- sec-5 - end -------------------- */



/* -------------------- sec-6 - start -------------------- */
.sec-6 {
    .phone-box-wrap {
        position: relative;
        width: 100%;
        margin-bottom: 12px;
    }

    .phone-box {
        position: relative;
        width: 600px;
        height: 936px;
        margin: 0 auto;
        overflow: hidden;

        .screen {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 57%;
            height: auto;
        }

        .shadow {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    .ph-txt {
        width: 100%;
        position: absolute;
        display: flex;
        left: 70px;
        justify-content: end;
        max-width: 900px;
        transform: translate(-50%, 0);
        color: #4e5968;
        top: 228px;
        opacity: 0;

        p {
            font-size: 23px;
            font-weight: 600;
            line-height: 1.5;
            color: rgb(51, 61, 75);
            max-width: 220px;
        }
    }

    .left-txt {
        top: 428px;
        justify-content: start;
        animation: 1s ease-in-out 1s 1 normal forwards running slideUp;
    }

    .right-txt {
        animation: 1s ease-in-out 0.5s 1 normal forwards running slideUp;

    }

    .desc {
        position: static;
        margin: 0 auto;
        text-align: center;
        opacity: 0;
        animation: 1s ease-in-out 1.5s 1 normal forwards running slideUp;

    }
}
/* -------------------- sec-6 - end -------------------- */



/* -------------------- sec-7 - start -------------------- */
.sec-7 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    background: url(../토스/imgi_34_section2_4_big.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    span {
        font-size: 80px;
        font-weight: 700;
        line-height: 1.3;
        color: #f9fafb;
        text-align: center;
    }

    .left-box,
    .right-box {
        position: absolute;
        top: 0;
        width: calc((100vw - 1040px) / 2);
        height: 100%;
        background-color: #fff;
    }
    
    .left-box {
        left: 0;
    }

    .right-box {
        right: 0;
    }
} 
/* -------------------- sec-7 - end -------------------- */



/* -------------------- sec-8 - start -------------------- */
.sec-8 {
    h1 {
        margin-bottom: 140px;
        font-size: 60px;
        font-weight: 700;
        line-height: 1.4;
        color: #191f28;
    }

    .item-title {
        margin-bottom: 24px;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.3;
        opacity: 0;
        transform: translatey(10px);
        
        h2 {
            margin-bottom: 5px;
            color: #191f28;
        }

        h3 {
            color: #b0b8c1;
        }
    }
    
    .item-desc {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5;
        color: #333d4b;
    }

    img {
        opacity: 0;
    }

    // item-1
    .item-1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 210px;

        img {
            display: block;
            width: 100%;
            max-width: 740px;
            margin: 0 auto;
            margin-bottom: 60px;
        }
        
        .item-text-box {
            width: 100%;
        }
    }


    // item-2
    .item-2 {
        display: flex;
        width: 100%;    
        margin-bottom: 220px;

        .item-2__left {
            margin-right: 40px;
            
            img {
                margin-bottom: 40px;
            }
        }

        .item-2__right {
            margin-top: 122px;
            
            img {
                margin-bottom: 35px;    
            }
        }
    }

    // item-3
    .item-3 {
        img {
            margin-bottom: 50px;
        }

        .item-text-box {
            display: flex;

            .item-title {
                flex: 1;
            }
        }
    }
}
/* -------------------- sec-8 - end -------------------- */



/* -------------------- sec-9 - start -------------------- */
.sec-9 {
    background-color: #f9fafb;

    .con {
        padding: 250px 0 165px 0;

        .con-inner {
            height: 1272px;
            position: relative;
        }
    }

    .title-box {
        h1 {
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 100px;
        }
    }

    .p-left {
        bottom: 0px;
        left: -124px;
    }

    .p-right {
        top: -70px;
        right: -70px;
    }

    .desc {
        position: absolute;
        top: 267px;
        left: 0px;
        width: 100vw;
        color: rgb(78, 89, 104);
        animation: 0.5s ease-in-out 1s 1 normal forwards running slideUp;

    }

    .desc-2 {
        font-size: 23px;
        font-weight: 600;
        line-height: 1.5;
        position: absolute;
        bottom: 280px;
        left: 640px;
        width: 480px;
        color: rgb(78, 89, 104);
        opacity: 0;
        animation: 0.5s ease-in-out 1.5s 1 normal forwards running slideUp;

    }
}
/* -------------------- sec-9 - end -------------------- */

.p-button {
    color: #f9fafb;
    background-color: #3182f6;
    padding: 11px 16px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* -------------------- sec-10 - start -------------------- */
.sec-10 {
    position: relative;
    padding: 100px 0 250px 0;
    background-color: #000000;

    img {
        margin-bottom: 11px;
        opacity: 0;
        animation: 0.5s ease-in-out 0s 1 normal forwards running slideUp;
    }

    .sec-10__title-box {
        opacity: 0;
        animation: 0.5s ease-in-out 0s 1 normal forwards running slideUp;

        h1 {
            font-size: 60px;
            font-weight: 700;
            line-height: 1.4;
            color: #fff;
            margin-bottom: 21px;
            text-align: center;
        }

        p {
            font-size: 30px;
            font-weight: 700;
            line-height: 1.4;
            color: #b0b8c1;
            text-align: center;
            margin-bottom: 200px;
        }
    }

    .business-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        opacity: 0;
        animation: 0.5s ease-in-out 0.5s 1 normal forwards running slideUp;

        li {
            width: 25%;
            max-width: 300px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            
            span {
                margin-bottom: 12px;
                font-size: 30px;
                font-weight: 700;
                line-height: 1.3;
                color: #fff;
            }

            p {
                max-width: 300px;
                margin-bottom: 38px;
                font-size: 20px;
                font-weight: 600;
                line-height: 1.6;
                color: #b0b8c1;
            }
        }
    }
}
/* -------------------- sec-10 - end -------------------- */



/* -------------------- sec-11 - start -------------------- */
.sec-11 {
    padding: 33px 0px;
    background: #f5f6f8;
    height: 306px;

    .con {
        padding: 0;
        max-width: 800px;
    }

    .report-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.3;
            color: #333d4b;
            margin-bottom: 16px;
        }

        p {
            margin-bottom: 24px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            color: rgba(0, 19, 43, 0.58);
        }

        .p-button {
            display: inline-flex;
            color: #1b64da;
            background-color: #e8f3ff;
        }

        .img-box {
            width: 240px;
        }
    }
}
/* -------------------- sec-11 - end -------------------- */



/* -------------------- footer - start -------------------- */
footer {
    width: 100vw;
    background-color: #f9fafb;
    padding: 50px 0 100px;

    .footer-inner {
        max-width: 1064px;
        margin: auto;
        padding: 0 67px;
    }

    .footer__site-group-list {
        display: flex;
        padding-bottom: 50px;
        
        .footer__site-group {
            padding-right: 20px;
            width: fit-content;
            color: #6b7684;
            list-style: none;
            font-size: 15px;
            line-height: 30px;
        }
    
        .site-group-title {
            padding-bottom: 5px;
            color: #333d4b;
            font-weight: 700;
        }
    }

    address {
        color: #8b95a1;
        font-size: 13px;
        font-style: normal;
        line-height: 20px;

        .company-name {
            display: block;
            padding-bottom: 16px;
            color: #333d4b;
            font-size: 15px;
        }

        a {
            color: #6b7684;
        }
    }

    .term-wrapper {
        display: inline-grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 34px;
        row-gap: 4px;
        margin: 0;
        padding: 24px 0 30px;

        a {
            display: block;
            color: #6b7684;
            font-size: 13px;
            line-height: 18px;
            
            strong {
                font-weight: 500;
                color: #333d4b;
            }
        }

    }

    .social-list {
        display: flex;

        .social-list-item {
            margin-right: 8px;
        }

        a {
            cursor: pointer;
            display: block;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            transition: opacity .2s ease;
            opacity: .7;
        }
    }
}
/* -------------------- footer - end -------------------- */



@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translate3d(0px, 50px, 0px);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }

}