@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');

html > body {
  font-family: 'Toss Product Sans';
}

* {
    box-sizing: border-box;
}

.con {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding: 250px 0;
}

.con-inner {
    width: 92%;
    height: 100%;
    margin: 0 auto;
}

/* -------------------- header - start -------------------- */
header {
    width: 100vw;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    .con {
        padding: 0;
    }

    .con-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        min-width: 24px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        
        a {
            width: 68px;
        }
    }

    .mb {
        display: none;
    }

    .menu-box {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 2px;
    }

    .menu-item {
        width: 100%;
        height: 100%;
        padding: 0 8px;
        color: #4e5968;
        display: flex;
        align-items: center;
    
        a {
            padding: 12px 10px;
            font-size: 15px;
            line-height: 20px;
            color: currentColor;
            border-radius: 8px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            
            &:hover {
                background-color: rgba(2,32,71,0.05);
                color: #0056b3;
            }
        }
    }
    
    .menu-lang {
        height: 100%;
        display: flex;
        align-items: center;

        span {
            color: #d1d6db;
        }
    }

    .kor {
        margin-left: 44px;
        color: #333d4b !important;
    }

    .eng {
        color: #b0b8c1 !important;
    }
}
/* -------------------- header - end -------------------- */



/* -------------------- section - start -------------------- */
section {
    width: 100vw;
}

.sec-1 {
    position: relative;

    .con {
        padding: 250px 0 165px 0;
    }

    .sec-1__part-1 {
        position: relative;
    }

    .banner-img {
        height: 100vh;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .gradient {
        width: 100%;
        height: 500px;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, white 0%, white 59px, rgba(255, 255, 255, 0) 100%);
    }

    .part-1__content-wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .content__text {
        margin-top: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            width: 100%;
            margin-bottom: 50px;
            font-size: 66px;
            font-weight: 700;
            line-height: 1.4;
            text-align: center;
            color: #000;
        }
    }

    .download-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            background-color: rgba(0, 12, 30, 0.8);
            color: #fff;
            margin-right: 4px;
            font-size: 17px;
            font-weight: 600;
            padding: 11px 22px;
            border-radius: 7px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            transition: background-color .2s ease;

            &:hover {
                background-color: rgb(78, 89, 104);
            }

            img {
                width: 24px;
                height: 24px;
                aspect-ratio: 24/24;
                margin-right: 6px;
            }
        }
    }

    .content__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin-bottom: 30px;

        div {
            width: 100%;
            height: 100%;
        }
    }

    .sec-1__part-2 {
        width: 100%;
        position: relative;
        padding: 200px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f9fafb;

        p {
            color: #191f28;
            font-size: 32px;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            margin-bottom: 50px;
        }
    }
}
/* -------------------- sec-1 - end -------------------- */



.title-box {
    h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.3;
        color: #3182f6;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.4;
        color: #191f28;
    }
}

.desc {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    position: absolute;
}



/* -------------------- sec-2 - start -------------------- */
.sec-2 {
    .con-inner {
        position: relative;
        height: 1272px;
    }


    .phone {
        width: 600px;
        height: 936px;
        position: absolute;

        .screen {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 57%;
            height: auto;
            transform: translate3d(-50%, -50%, 0);
            border-radius: 22px;
        }
    
        .shadow {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
        
    .p-right {
        top: 0px;
        right: -104px;
    }
    
    .p-left {
        bottom: 0;
        left: -104px;
    }

    .desc {
        right: 30px;
        bottom: 166px;
    }
}
/* -------------------- sec-2 - end -------------------- */



/* -------------------- sec-3 - start -------------------- */
.sec-3 {
    position: relative;
    background-color: #f9fafb;

    .title-box {
        h2 {
            margin-bottom: 80px;
        }
    }

    .send {
        width: calc(100% + 30px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    
    .free-send, .accounts {
        margin: 0 0 150px;
    }
    
    img {
        width: 100%;
        height: auto;
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);
    }

    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 38px;
        width: 556px;
        height: 100%;
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);

        p:first-child {
            white-space: nowrap;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.4;
            color: rgb(49, 130, 246);
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            span {
                height: 24px;
                width: 24px;
                min-width: 24px;
                margin-right: 4px;
            }
        }

        p:nth-child(2) {
            margin-bottom: 20px;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.4;
            color: rgb(51, 61, 75);
        }

        p:last-child {
            font-size: 22px;
            font-weight: 600;
            line-height: 1.5;
            color: rgb(107, 118, 132);
        }
    }
}
/* -------------------- sec-3 - end -------------------- */



/* -------------------- sec-4 - start -------------------- */
.sec-4 {
    .con-inner {
        position: relative;
    }

    .title-box {
        margin-bottom: 210px;
    }

    .phone-box {
        position: absolute;
        top: 0;
        right: -60px;

        .phone {
            position: relative;
            width: 600px;
            height: 936px;
            
            img {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }

    span {
        display: flex;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.5;
        color: rgb(51, 61, 75);
    }

    .last {
        margin-bottom: 30px;
    }

    .gray {
        color: #8b95a1;
        margin-left: 10px;
    }

    .light-gray {
        color: #d1d6db;
        margin-left: 10px;
    }
}
/* -------------------- sec-4 - end -------------------- */



/* -------------------- sec-5 - start -------------------- */
.sec-5 {
    background-color: #f9fafb;

    h2 {
        margin-bottom: 80px;
    }

    .credit-box {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 30px);
        margin: 0px -30px -30px 0px;

        .credit {
            flex-basis: calc(50% - 30px);
            max-width: calc(50% - 30px);
            margin: 0 30px 30px 0;
            height: 400px;

            img {
                width: 120px;
                margin-bottom: 30px;
            }

            p {
                font-size: 28px;
                font-weight: 700;
                line-height: 1.5;
                color: rgb(51, 61, 75);
                margin-bottom: 10px;
            }

            p:last-child {
                font-size: 22px;
                font-weight: 600;
                line-height: 1.5;
                color: rgb(107, 118, 132);
            }
        }
    }
}
/* -------------------- sec-5 - end -------------------- */



/* -------------------- sec-6 - start -------------------- */
.sec-6 {
    .phone-box-wrap {
        position: relative;
        width: 100%;
        margin-bottom: 12px;
    }

    .phone-box {
        position: relative;
        width: 600px;
        height: 936px;
        margin: 0 auto;

        .screen {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 57%;
            height: auto;
        }

        .shadow {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    .ph-txt {
        width: 100%;
        position: absolute;
        left: 50%;
        display: flex;
        justify-content: end;
        max-width: 900px;
        transform: translate(-50%, 0);
        color: #4e5968;
        top: 228px;

        p {
            font-size: 23px;
            font-weight: 600;
            line-height: 1.5;
            color: rgb(51, 61, 75);
            max-width: 220px;
        }
    }

    .left-txt {
        top: 428px;
        justify-content: start;
    }

    .desc {
        position: static;
        margin: 0 auto;
        text-align: center;
    }
}
/* -------------------- sec-6 - end -------------------- */
